/*  Navbar styles */
.navbar .nav-link.scroll-nav-link {
    max-height: max-content;
    color: rgba(0, 0, 0, 1);
    transition: color .5s;
}

.navbar .nav-link {
    color: #000;
    background-color: rgba(2, 2, 186, 0.2);;
    box-shadow: 1px 2px #aab7c4 ;
    border: unset;
    border-radius: 5px;
    margin-right: 29px;
    transition: 0.3s;
}

a.nav-link:hover {
    padding-bottom: 1px;
    border-bottom: 2px solid white;
}

/* End  of navbar styles */

/*  Header  Styles*/

header {
    width: 100%;
    min-height: 800px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    transition: background-color .5s, color .5s;
}

header div.row{
    height: 100%;
    align-items: center;
    justify-content: right;

}

header .col-md-5 text-black mt-4 ms-5 {
    font-size: 20px;
    z-index: 999;
}

h1.fw-normal, p{
    color: black !important;
}

.img-fluid {
    width: 400px !important;
    height: auto !important;
}

/*  End of Header Styles */

/* Color Background Animation for NavBar on Scroll */
header.scroll-header {
    color:  rgba(0, 0, 0, 0.6);
}

.navbar-fixed {
    background: rgba(2, 2, 186, 0.811);
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.6s;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.4);
}

.navbar-fixed.scroll-header {
    color: #000;
}
/* End of   Color Background Animation */

/* Wave section */
.wave {
    position: relative;
    padding-top: 10rem;
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(125deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 13%,
            rgba(0, 212, 255, 1) 52%);
    background: -webkit-linear-gradient(125deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 13%,
            rgba(0, 212, 255, 1) 52%);
    background: linear-gradient(125deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 13%,
            rgba(0, 212, 255, 1) 52%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#00d4ff", GradientType=1);
    z-index: 1;
}

.wave:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: calc(100% + 1.73em);
    /* Adding extra to account for the baseline offset */
    left: 0;
    bottom: 0;
    background: url("/IMG/WAVE.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

/* End  Wave Section */



.btn-custom {
    border: 1.5px solid #fff;
    border-radius: 50px;
    color: #000;
    background: none;
    padding: 8px 20px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.6s;
}

.btn-custom:hover {
    background: #090979;
    border: 1.5px solid #090979;
    color: #fff;
}

section {
    padding: 82px 0;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #090979;
}

.section-title p {
    max-width: 60%;
    margin: auto;
    color: #aab7c4;
}