/* colores */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107
        /* -------------------------------------------------- */
    --color-basic-text: #000;
    --color-alternative-text: #fff;
    --color-muted-text: #999;
    --color-navbar-background: rgba(2, 2, 186, .2);
    /* button colors */
    --color-border-bottom-button: #fff;
    --color-button-box-shadow: #aab7c4;

    /* ----------------------------------------- */

    /* sizes */
    --spacing: 1rem;
    --header-height: calc(100% - var(--spacing));
    --total-width: 100%;
    
    }